node_modules/
.cache/
public
src/gatsby-types.d.ts
.DS_Store

media/Geomorphs
media/GeomorphsHighRes
media/CustomTiles
media/CustomTilesHighRes
media/Symbols
media/SymbolsHighRes
media/Small Craft

media/3d/Cycles_Minecraft_Rig BSS Edit V6.5.zip
media/3d/Cycles_Minecraft_Rig BSS Edit V6.5
media/3d/Zamination_Rig_V4.blend
media/3d/mixamo-minecraft-test/*
!media/3d/mixamo-minecraft-test/Model.rar
media/3d/uv-map-test/*

*.blend1
