@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}

html.cursor-row-resize * {
  cursor: row-resize !important;
  user-select: none;
}

html.cursor-col-resize * {
  cursor: col-resize !important;
  user-select: none;
}

body {
  overscroll-behavior: none;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
