html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;

  /* font-family: Roboto; */
  /* font-family: "Open Sans"; */
  font-family: Ubuntu;
  font-weight: 300;
}
